.App {
  width: 100vw;
}

.arrow-slide {
  display: flex;
  align-items: center;
}

.slider {
  max-width: 1500px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.arrow {
  height: 50px;
  width: 50px;
}

.slider::-webkit-scrollbar { width: 0; }

.arrow-block {
  margin: 10px;
}
.right {
  transform: rotate(270deg);
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-img {
  width: 900px;
  height: 600px;
}

.first {
  border: 4px solid blue;
}

.main-block {
  width: 900px;
}

.block, .block-img {
  width: 150px;
  height: 100px;
}

.block {
  margin: 10px;
}